<!-- BOOTSTRAP 4 -->
<!-- <h1>About Us</h1> -->
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam quo vitae corporis ab eveniet amet optio quisquam? Iusto veritatis impedit atque unde expedita odio, nesciunt quibusdam temporibus rem possimus eveniet ipsum voluptate quidem, eum laborum dolor ducimus ad ab!</p>
    </div>
</div>