<!-- Creamos un jumbotron(cuadro) -->
<!-- <h1>Index</h1> -->
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta officiis voluptatibus praesentium mollitia quam ea magnam sint quia ipsam, quisquam a at necessitatibus error porro, consectetur autem recusandae laboriosam?</p>
    <a href="http://localhost:3000" class="btn btn-primary btn-lg">Localhost</a>
</div>