<div class="card">
    <div class="card-body">
       <h1>About</h1>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt praesentium, laborum a odio velit porro. Beatae eveniet tempore temporibus nisi?</p>
    </div>
</div>


