<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis omnis nemo rerum, incidunt temporibus sed.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi natus laudantium impedit nam obcaecati quis illo at sapiente nostrum animi.</p>
    <a href="localhost" class="btn btn-primary">Localhost</a>
</div>
